/* Channel Name Styling */
.channel-name {
  text-align: center;
  margin-top: 20px;
}

.channel-name h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #e50914; /*red color */
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414; /* Black background */
  color: white; /* White text color */
}

.container {
  padding: 20px;
}

/* Search Bar Styles */
.search-bar {
  text-align: center;
  margin-bottom: 30px;
}

.search-bar input {
  padding: 12px;
  font-size: 1rem;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #222; /* Dark grey background */
  color: white;
}

.search-bar input::placeholder {
  color: #aaa; /* Light grey placeholder */
}

/* Movie Grid Layout */
.movie-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  margin-top: 20px;
}

/* Movie Item Styling */
.movie-item {
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

.movie-item:hover {
  transform: scale(1.05);
  background-color: rgba(255, 0, 0, 0.1); /* Light red background on hover */
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.movie-item a {
  text-decoration: none;
  color: white;
}

.movie-item a:hover h3 {
  color: #e50914; 
}

.movie-item h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white; /* White text for movie titles */
}

/* Responsive Grid Layout */
@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row for smaller screens */
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: 1fr; /* 1 item per row for mobile screens */
  }
}
